<div class="row mb-3">
  <div class="col-md-12">
    <div class="page-header py-2">
      <h1 class="text-success">
        <i class="fa-solid fa-calendar-check"></i> Reservas!
      </h1>
    </div>
    <%- partial('menu') %>
  </div>
</div>
