<div class="row p-3">
  <div class="col-md-12">
    <div class="row bt-2 text-dark">
      <div class="col-md-12 text-center border-top mt-2 p-1 border-success">
        <strong>ALí-Tu Agenda!, Inc.</strong> Derechos Reservados | 2022-2023
      </div>
      <div class="col-md-12 text-left border-top mt-2 p-1 border-success">
        <strong>Síguenos en:</strong>
      </div>
    <table>
      <tbody>
        <tr>
          <td><a href="https://twitter.com/lufegue" target="https://twitter.com/lufegue"><div id="iconFooterTwitter"></div></a></td>
          <td><a href="https://www.facebook.com/lufegue" target="_blank"><div id="iconFooterFacebook"></div></a></td>
          <td><a href="https://Instagram.com/lufegue" target="_blank"><div id="iconFooterInstagram"></div></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="col-md-12 border-top mt-2 p-1 border-success">

  </div>
</div>
