<div class="row p-3">
  <div class="col-md-12">
    <div class="col-md-12 text-center border-top mt-2 p-1 border-success">
        <strong>EstarSano, <i class="fa-regular fa-registered"></i>.</strong> Derechos Reservados | 2022-2023
        <strong>Síguenos en <a href="https://www.facebook.com/disEstarSano" target="_blank"><i
          class="fa-brands fa-facebook"></i> Facebook
      </a></strong>
  </div>
    <div class="col-md-12 text-center border-top mt-2 p-1 border-success">
      Hecho con <i class="fa-solid fa-heart"></i> desarrollado by lufegue
    </div>
    <div class="col-md-12 text-center border-top mt-2 p-1 border-success"></div>
  </div>
</div>
