<div class="row">
  <div class="col-md-12 px-4">
    <h1>Acerca de...</h1>
    <p>Ali, ayuda a las empresas a gestionar sus recursos y cobro de mensualidades. 
      Creemos que una empresa debe enfocarse en temas propios de su giro de negocio. 
      Mientras que Ali se encargará de gestionar específicamente las reservas y el cobro de las mensualidades.

      Desarrollador: Luis Felipe Guevara
    </p>
  </div>
</div>
