<div class="row">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-info text-center text-dark" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <div class="salida text-secundary">
      <h1>
        Adios!
      </h1>
      <p>
        Gracias por tu visita,
      </p>
      <p>

        todo a la mano...
      </p>
    </div>
  </div>
</div>
