<div class="container">
    <div class="contactanos justify-content-center align-items-center" style="height: 60vh;">
        <div class="row">
            <div class="col-md-12" style="position: relative;">
                <a style="position: absolute; top: 160px; left: 770px; color: #387aec;" href="https://portal.omnilife.com/registro?distributor_code=593539079GRL&country_code=ECU&lang=es" target="_blank"><i class="fa-solid fa-person-circle-plus"></i> Continuar
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="position: relative;">
                <a style="position: absolute; top: 310px; left: 770px; color: #387aec;" href="https://portal.omnilife.com/registro-cliente?distributor_code=593539079GRL&country_code=ECU&lang=es" target="_blank"><i class="fa-solid fa-cart-plus"></i> Comprar
                </a>
            </div>
        </div>
    </div>
</div>





