<div class="row">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-info text-center text-dark" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <div class="entrada text-secundary">
      <h1>
        Estas registrado!
      </h1>
      <p>
        Ya puedes ingresar a realizar tus reservas...
      </p>
    </div>
  </div>
</div>
