<div class="row">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-info text-center" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <div class="jumbotron text-black text-center">
      <h2>
        <br>Bienvenido...<br>
        Ali, gestiona tus reservas.
      </h2>
    </div>
  </div>
</div>
