<div class="row">
  <div class="col-md-12">

    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-info text-center" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <div class="jumbotron text-light">
      <h1>
        Bienvenido!
      </h1>
      <p>
        En este sitio puedes reservar tus espacios preferidos,
      </p>
      <p>

        Y conocer con quien asistirá...
      </p>
    </div>
  </div>
</div>
