<div class="info justify-content-center align-items-center" style="height: 60vh;">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/Fotos/Foto05.jpg" alt="Foto 1" style="width: 200px; height: 150;" class="float-right">
                </div>
                <div class="col-md-6">
                    <img src="/images/Fotos/Foto02.jpg" alt="Foto 2" style="width: 200px; height: 150;" class="float-right">
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-6">
                    <img src="/images/Fotos/Foto03.jpeg" alt="Foto 3" style="width: 200px; height: 150;" class="float-right">
                </div>
                <div class="col-md-6">
                    <img src="/images/Fotos/Foto04.jpeg" alt="Foto 4" style="width: 200px; height: 150;" class="float-right">
                </div>
            </div>
        </div>
    </div>
</div>
