
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <video width="640" height="360" controls>
          <source src="/videos/System.mp4" type="video/mp4">
          Tu navegador no soporta la reproducción de videos.
      </video>
      </div>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="448" height="252" src="https://www.youtube.com/embed/nCSxahjO-t4?controls=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="448" height="252" src="https://www.youtube.com/embed/Yfb446DtST4?controls=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="448" height="252" src="https://www.youtube.com/embed/DtTsIpclti0?controls=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
